<div class="nested-fields">
    <div class="field">
        <%= f.label :strain_id %>
        <%= f.collection_select :strain_id, @strains,:id, :name %>
    </div>
    <div class="field">
        <%= f.label :percent %>
        <%= f.number_field :percent %>    
    </div>
    <div class="links">
        <%= link_to_remove_association "remove task", f %>
    </div>
</div>